body{
  background: rgb(91,97,106);
}
@font-face {
  font-family: 'fabfeltscript';
  src:  url('fonts/fabfeltscript/FabfeltScript-Bold/webfont/fabfeltscript-bold.woff') format('woff2'),
        url('fonts/fabfeltscript/FabfeltScript-Bold/webfont/fabfeltscript-bold.woff') format('woff');
}
H1{
  color: #fcf7f8;
  margin-top: 0px;
  font-family: fabfeltscript;
  font-size: 3.0em;
}
H2{
  color: white;
  vertical-align: middle;
  padding: 0;
  margin: 0 auto;
}
#main{
  padding-top: 25px;
  margin: 0 auto;
  text-align: center;
}
#controls{
  color: rgb(91,97,106);
}
#worktime{
  margin: 0 auto;
  height: 25px;
  /*width: 90%;*/
  background-color: #9bcd50;
}
#breaktime{
  margin: 0 auto;
  margin-top: 50px;
  height: 25px;
  width: 100%;
  background-color: #E0CA9A;
}
